<div>
    <div *ngFor="let comment of comments" class="card mb-2">
        <div class="card-header p-1">
            <div class="d-flex w-100 justify-content-between">
                <div>{{comment.createdBy}}</div>
                <small>{{comment.rating}}</small>
            </div>
        </div>
        <div class="card-body p-1">{{comment.text}}</div>
    </div>

    <form #commentForm="ngForm" (submit)="create(newComment)">
        <div class="card">
            <div class="card-header d-flex w-100 justify-content-between p-1">
                <div>New Comment Section</div>
                <button [disabled]="commentForm.invalid" type="submit" class="btn btn-primary btn-sm">Add</button>
            </div>
            <div class="d-flex flex-column">
                <div class="p-1">
                    <div class="form-group mb-2">
                        <textarea required [(ngModel)]="newComment.text" type="text" name="newComment" id="newComment"
                            class="form-control p-2" placeholder="New Commen"></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button (click)="setRating(1)" name="btnRating1" type="button" class="btn btn-info">1</button>
                            <button (click)="setRating(2)" name="btnRating2" type="button" class="btn btn-info">2</button>
                            <button (click)="setRating(3)" name="btnRating3" type="button" class="btn btn-info">3</button>
                            <button (click)="setRating(4)" name="btnRating4" type="button" class="btn btn-info">4</button>
                            <button (click)="setRating(5)" name="btnRating5" type="button" class="btn btn-info">5</button>
                        </div>
                    </div>
                    {{newComment.rating}}
                </div>
            </div>
        </div>
    </form>

</div>