<div class="d-flex justify-content-center">
    <div class="flex-column w-75">
        <div class="mb-1 d-flex w-100 justify-content-between">
            <a class="btn btn-primary mx-1" [routerLink]="['movie/new']">Create</a>
            <input #searchbox class="form-control mx-1" type="text" placeholder="Search For movie" />
            <!-- <a [rounterLink]=["/srcmovie/new"] class="btn btn-primary">Create</a> -->
        </div>
        <div class="list-group">
            <a [routerLink]="['/movie', movie.id ]" *ngFor="let movie of movies"
                class="list-group-item list-group-item-action mb-2">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{movie.name}}</h5>
                    <small>{{movie.movieVisits?.length}}</small>
                </div>
            </a>
        </div>
    </div>
</div>